[submodule "Frontend_WeCollab"]
	path = Frontend_WeCollab
	url = https://github.com/Byte-Boost/Frontend_WeCollab
[submodule "Backend_WeCollab"]
	path = Backend_WeCollab
	url = https://github.com/Byte-Boost/Backend_WeCollab
